.app {
  display: flex;
}

#list-view {
  height: 100vh;
  flex: 1;
  border: 1px solid black
}

#map-container {
  height: 100vh;
  flex: 4;
  border: 1px solid black
}

#filter-input {
  width: 70%;
  margin: 0 0 2rem 2rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
}

#title {
  margin: 1rem;
  text-transform: uppercase;
}

.park-list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 2rem;
}

.park-list-btn {
  width: 80%;
  padding: 1rem;
  margin: 0.1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  border-radius: 1rem;
}

.park-list-btn:hover {
  font-size: 1.6rem;
}